/* .success-box {
  color: green;
  justify-content: center;
  margin: 0 auto;
  height: 300px;
  width: 1000px;
  border: none;
  border-radius: 16px;
} */

.success-message {
  background-color: #a2c579;
  font: 100 30px "Silk Flower Demo", sans-serif;
  margin: 0 auto;
  position: relative;
  bottom: 3300px;
  text-align: center;
  color: beige;
  height: 200px;
  width: 1000px;
  border: 1px solid white;
  border-radius: 15px;
  padding: 20px;
}

.return-home {
  display: flex;
  align-items: center;
  position: relative;
  bottom: 3400px;
  justify-content: center;
  margin: 0 auto;
  border: none;
  border-radius: 15px;
  height: 50px;
  width: 150px;
  background-color: #362706;
  color: beige;
}

.return-home:hover {
  transform: scale(1.01);
}


.failed-message {
  background-color: #ff0000;
  font: 100 30px "Silk Flower Demo", sans-serif;
  margin: 0 auto;
  position: relative;
  bottom: 3300px;
  text-align: center;
  color: beige;
  height: 200px;
  width: 1000px;
  border: 1px solid white;
  border-radius: 15px;
  padding: 20px;
}

.return-home {
  display: flex;
  align-items: center;
  position: relative;
  bottom: 3400px;
  justify-content: center;
  margin: 0 auto;
  border: none;
  border-radius: 15px;
  height: 50px;
  width: 150px;
  background-color: #362706;
  color: beige;
}

.return-home:hover {
  transform: scale(1.01);
}