body {
  background-color: #e9e5d6;
  height: auto;
  max-height: auto;
}

.newest {
  background: #e9e5d6;
  width: 1880px;
  height: 1150px;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.layer-2 {
  background: #7b685b;
  width: 1989px;
  height: 1159px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 15px;
}

.vector-1 {
  width: 965px;
  height: 870px;
  position: absolute;
  left: 9px;
  top: 125px;
}

.sofa {
  width: 960px;
  height: 519px;
  position: absolute;
  left: 56px;
  top: 312px;
}

.crafted-with-love {
  color: #d9d3bd;
  text-align: right;
  font: 400 158px "Silk Flower Demo", sans-serif;
  position: absolute;
  left: 1162px;
  top: 231px;
  width: 642px;
}

.promo-text {
  color: #e9e5d6;
  text-align: right;
  font: 400 35px "Silk Flower Demo", sans-serif;
  position: absolute;
  left: 960px;
  top: 753px;
  width: 844px;
  height: 123px;
}

.button-shop {
  background: #d9d3bd;
  border-radius: 15px;
  width: 395px;
  height: 82px;
  position: absolute;
  left: 1409px;
  top: 846px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: none; /* Remove the border */
  cursor: pointer;
  display: flex; /* Center align content horizontally and vertically */
  justify-content: center;
  align-items: center;
}

.button-shop:hover {
  transform: scale(1.01);
}

.shop-now {
  color: #362706;
  font: 400 40px "Silk Flower Demo", sans-serif;
  pointer-events: none; /* Disable pointer events on the inner text */
}

.backdrop {
  background: #e9e5d6;
  border-radius: 45px;
  width: 1693px;
  position: absolute;
  left: 105px;
  top: 1033px;
}

/* Category Bedroom */
.rectangle-21 .bedroom {
  background: #7b685b;
  width: 400px;
  height: 300px;
  position: absolute;
  left: 274px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  top: 1108px;
  border-radius: 15px;
}

.overlay-bedroom {
  width: 400px;
  height: 300px;
  position: absolute;
  left: 274px;
  top: 1108px;
  background: #7b685b; /* Semi-transparent black overlay */
  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
}

.overlay-bedroom:hover {
  opacity: 0.6;
}

/* Category Living */

.rectangle-22 .living {
  background: #7b685b;
  width: 400px;
  height: 300px;
  position: absolute;
  left: 752px;
  top: 1108px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.overlay-living {
  width: 400px;
  height: 300px;
  position: absolute;
  left: 752px;
  border-radius: 15px;
  top: 1108px;
  background: #7b685b; /* Semi-transparent black overlay */
  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.overlay-living:hover {
  opacity: 0.6;
}

/* Category Dining */
.rectangle-23 .dining {
  background: #7b685b;
  width: 400px;
  border-radius: 15px;
  height: 300px;
  position: absolute;
  left: 1230px;
  top: 1108px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.overlay-dining {
  width: 400px;
  height: 300px;
  position: absolute;
  left: 1230px;
  top: 1108px;
  border-radius: 15px;
  background: #7b685b; /* Semi-transparent black overlay */
  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.overlay-dining:hover {
  opacity: 0.6;
}

.location-name {
  color: white;
  font-size: 20px;
  margin-top: 10px;
  font-family: "Silk Flower Demo";
}

.rectangle-31 {
  background: #7b685b;
  width: 400px;
  height: 300px;
  position: absolute;
  left: 274px;
  top: 2936px;
}

.rectangle-32 {
  background: #7b685b;
  width: 400px;
  height: 300px;
  position: absolute;
  left: 752px;
  top: 2936px;
}

.rectangle-33 {
  background: #7b685b;
  width: 400px;
  height: 300px;
  position: absolute;
  left: 1230px;
  top: 2936px;
}

.rectangle-24 .dining-table {
  background: #7b685b;
  border-radius: 10px;
  width: 400px;
  height: 400px;
  position: absolute;
  left: 32px;
  top: 1561px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.rectangle-25 .featured-sofa {
  background: #7b685b;
  border-radius: 10px;
  width: 400px;
  height: 400px;
  position: absolute;
  left: 510px;
  top: 1561px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.rectangle-26 .featured-sofa-2 {
  background: #7b685b;
  border-radius: 10px;
  width: 400px;
  height: 400px;
  position: absolute;
  left: 988px;
  top: 1561px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.rectangle-27 .featured-bedroom {
  background: #7b685b;
  border-radius: 10px;
  width: 400px;
  height: 400px;
  position: absolute;
  left: 1466px;
  top: 1561px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.featured-products {
  color: #362706;
  text-align: left;
  font: 400 48px "Silk Flower Demo", sans-serif;
  position: absolute;
  left: 743px;
  top: 1465px;
}

.line-5 {
  border-style: solid;
  border-color: #000000;
  border-width: 3px 0 0 0;
  width: 234.01px;
  height: 0px;
  position: absolute;
  left: 843px;
  top: 1518px;
}

.latest-news-trends {
  color: #362706;
  text-align: left;
  font: 400 48px "Silk Flower Demo", sans-serif;
  position: absolute;
  left: 710px;
  top: 2828px;
}

.line-7 {
  border-style: solid;
  border-color: #000000;
  border-width: 3px 0 0 0;
  width: 234.01px;
  height: 0px;
  position: absolute;
  left: 835px;
  top: 2881px;
}

.ctlg-btn {
  background: #7b685b;
  border-radius: 15px;
  width: 312px;
  height: 65px;
  position: absolute;
  left: 804px;
  top: 2084px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: none; /* Remove the border */
  cursor: pointer;
  display: flex; /* Center align content horizontally and vertically */
  justify-content: center;
  align-items: center;
}

.ctlg-btn:hover {
  transform: scale(1.01);
}

.catalogue-text {
  color: #e9e5d6;
  text-align: left;
  font: 400 36px "Silk Flower Demo", sans-serif;
  position: absolute;
}

.ellipse-3 {
  background: #7b685b;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 304px;
  top: 1973px;
}

.custom-heart {
  position: absolute;
  font-size: 30px;
  color: white;
  left: 15px;
  bottom: 13px;
}

.custom-heart:hover {
  position: absolute;
  font-size: 30px;
  color: #a7727d;
  left: 15px;
  bottom: 13px;
}

.custom-plus {
  position: absolute;
  font-size: 30px;
  color: white;
  left: 18px;
  bottom: 13px;
}

.custom-plus:hover {
  position: absolute;
  font-size: 30px;
  color: #362706;
  left: 18px;
  bottom: 13px;
}

.ellipse-4 {
  background: #7b685b;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 372px;
  top: 1973px;
}

.ellipse-5 {
  background: #7b685b;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 782px;
  top: 1973px;
}

.ellipse-6 {
  background: #7b685b;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 850px;
  top: 1973px;
}

.ellipse-7 {
  background: #7b685b;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 1260px;
  top: 1973px;
}

.ellipse-8 {
  background: #7b685b;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 1328px;
  top: 1973px;
}

.ellipse-9 {
  background: #7b685b;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 1738px;
  top: 1973px;
}

.ellipse-10 {
  background: #7b685b;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 1806px;
  top: 1973px;
}

.item-name {
  color: #000000;
  text-align: left;
  font: 400 24px "Silk Flower Demo", sans-serif;
  position: absolute;
  left: 32px;
  top: 1977px;
}

.price-rmxxxx {
  color: #000000;
  text-align: left;
  font: 400 24px "Silk Flower Demo", sans-serif;
  position: absolute;
  left: 32px;
  top: 2003px;
}

.item-name2 {
  color: #000000;
  text-align: left;
  font: 400 24px "Silk Flower Demo", sans-serif;
  position: absolute;
  left: 510px;
  top: 1977px;
}

.price-rmxxxx2 {
  color: #000000;
  text-align: left;
  font: 400 24px "Silk Flower Demo", sans-serif;
  position: absolute;
  left: 510px;
  top: 2003px;
}

.item-name3 {
  color: #000000;
  text-align: left;
  font: 400 24px "Silk Flower Demo", sans-serif;
  position: absolute;
  left: 988px;
  top: 1977px;
}

.price-rmxxxx3 {
  color: #000000;
  text-align: left;
  font: 400 24px "Silk Flower Demo", sans-serif;
  position: absolute;
  left: 988px;
  top: 2003px;
}

.item-name4 {
  color: #000000;
  text-align: left;
  font: 400 24px "Silk Flower Demo", sans-serif;
  position: absolute;
  left: 1466px;
  top: 1977px;
}

.price-rmxxxx4 {
  color: #000000;
  text-align: left;
  font: 400 24px "Silk Flower Demo", sans-serif;
  position: absolute;
  left: 1466px;
  top: 2003px;
}

.ellipse-11 {
  background: #7b685b;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 1260px;
  top: 1973px;
}

.ellipse-12 {
  background: #7b685b;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 1328px;
  top: 1973px;
}

.cta-box {
  background: #7b685b;
  border-radius: 15px;
  width: 1600px;
  height: 506px;
  position: absolute;
  left: 152px;
  top: 2265px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.cta-btn {
  background: #e9e5d6;
  border-radius: 15px;
  width: 573px;
  height: 98px;
  left: 900px;
  position: absolute;
  top: 65%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: none; /* Remove the border */
  cursor: pointer;
  display: flex; /* Center align content horizontally and vertically */
  justify-content: center;
  align-items: center;
}

.cta-btn:hover {
  transform: scale(1.01);
}

.discount-text-1 {
  color: #362706;
  text-align: left;
  font: 400 36px "Silk Flower Demo", sans-serif;
  position: relative;
  text-align: center;
}

.discount-text-2 {
  color: #e9e5d6;
  text-align: left;
  font: 400 128px "Silk Flower Demo", sans-serif;
  position: absolute;
  width: 703px;
  left: 5%;
  top: 40px;
}

.line-6 {
  border-style: solid;
  border-color: #000000;
  border-width: 3px 0 0 0;
  width: 408px;
  height: 0px;
  position: absolute;
  left: 50%;
  top: 50px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}

.terms {
  color: #e9e5d6;
  text-align: center;
  font: 400 36px "Silk Flower Demo", sans-serif;
  position: relative;
  width: 568px;
  float: right;
  right: 135px;
  top: 50px;
}

/* Testimonies */

.testimonies-box {
  background: #7b685b;
  border-radius: 15px;
  width: 1880px;
  height: 437px;
  position: absolute;
  left: 8px;
  top: 2908px;
  display: flex;
  justify-content: space-between;
}

.testimony-card {
  background: #d9d3bd;
  border-radius: 15px;
  width: calc(33.33% - 20px); /* Divide by 3 and subtract margins */
  height: 383px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 20px auto;
}

.testimonies {
  color: #362706;
  text-align: left;
  font: 400 48px "Silk Flower Demo", sans-serif;
  position: absolute;
  left: 818px;
  top: 2828px;
}

.line-7 {
  border-style: solid;
  border-color: #000000;
  border-width: 3px 0 0 0;
  width: 234.01px;
  height: 0px;
  position: absolute;
  left: 835px;
  top: 2881px;
}

.testimony-card p {
  text-align: center;
  justify-content: center;
  margin: 20px auto;
  font: 24px "Silk Flower Demo", sans-serif;
}

.testimony-card h2 {
  text-align: right;
  justify-content: right;
  float: right;
  margin: 70px 20px 20px 20px;
  left: 20px;
  margin-left: 20px;
  font: 24px "Silk Flower Demo", sans-serif;
}
